/*CSS DOCUMENT*/

/* GENERAL */
body		 																				{margin:0; padding:0; font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2"; background:#3E3E3E url('../images/pattern.png') repeat 0 0;}
img																							{border:none;}
p																							{color:#A9B366; font-size:15px; line-height:22px; font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2";}
a																							{margin:0; padding:0; color:#5FD4FF; font-size:15px; text-decoration:none;}
table																						{margin:0; padding:0; border-collapse:collapse;}
tr, td, th																					{margin:0; padding:0; vertical-align:top; font-family:Arial, Helvetica, sans-serif; border-collapse: collapse;}
form,input																					{margin:0;}
.wrapper																					{margin:0; padding:0; width:100%; background:url('../images/background.png') no-repeat center -250px; overflow:hidden;}

/* BACKGROUND */


/* CONTENT */
.content																					{margin:0 auto; padding:480px 0 100px; width:960px;}
.content .moon																				{margin:0 auto; width:246px; height:215px; background:url('../images/moon.png') no-repeat 0 0;}
.content .box																				{margin:0 auto; padding:0; width:370px;}
.content p																					{margin:0; padding:20px 0;}
.content p.indent																			{padding:0; color:#fff; text-indent:20px;}
.content a																					{margin:0; padding:0;}
.content a:hover																			{color:#FFFFFF;}
.content .textarea																			{margin:0 0 0 -6px; padding:10px; background:#3E3E3E; color:#ffc900; font-size:25px; width:476px; height:98px; background:transparent; border:1px solid #4F4F4F;}
.content .border 																			{margin:0 auto; padding:5px 0 0; background:#3E3E3E; width:486px; height:125px; border:1px solid #4F4F4F;}
.content .btn																				{margin:20px auto; padding:0; display:block;}
.content .message-box																		{margin:0 auto; padding:4px 0 0; width:498px; background:url('../images/lines.png') repeat-y 0 0;}
.content .message-box .message																{margin:0 auto 60px; padding:10px; color:#4A4A4C; font-size:15px; line-height:18px; width:401px; position:relative;}
.content .message-box .message.yellow														{background:url('../images/yellow.png') repeat-y 0 0;}
.content .message-box .message.yellow .top													{width:421px; height:4px; display:block; position:absolute; top:-4px; left:0px; background:url('../images/yellow-top.png') no-repeat 0 0;}
.content .message-box .message.yellow .bottom												{width:421px; height:20px; display:block; position:absolute; bottom:-20px; left:0px; background:url('../images/yellow-bottom.png') no-repeat 0 0;}
.content .message-box .message.orange														{background:url('../images/orange.png') repeat-y 0 0;}
.content .message-box .message.orange .top													{width:421px; height:4px; display:block; position:absolute; top:-4px; left:0px; background:url('../images/orange-top.png') no-repeat 0 0;}
.content .message-box .message.orange .bottom												{width:421px; height:20px; display:block; position:absolute; bottom:-20px; left:0px; background:url('../images/orange-bottom.png') no-repeat 0 0;}