[submodule "vendor/twig"]
	path = vendor/twig
	url = git://github.com/fabpot/Twig.git
[submodule "3rdparty/normalize_css"]
	path = 3rdparty/normalize_css
	url = https://github.com/necolas/normalize.css.git
